[Unit]
Description=Caddy Service
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ caddy_user }}
Group={{ caddy_group }}
WorkingDirectory={{ caddy_root_dir }}
ExecStart={{ caddy_bin_dir }}/caddy --conf {{ caddy_config_file }} {{ caddy_extra_options }}
Environment="PATH={{ caddy_path }}"
Restart=on-failure
PrivateTmp=yes
Restart=always
RestartSec=10
LimitNOFILE={{ caddy_limit_nofile }}
LimitNPROC={{ caddy_limit_nproc}}

[Install]
WantedBy=multi-user.target
